VITE_SOLANA_NETWORK=devnet
VITE_MONETIZATION_PROGRAM_ID=6BCx8hhFWQHvq1ouZJ7NfaPUL8bFRSrRn7sxLSFopYeV
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_PUBLIC_APP_URL=https://slick-web-lemon.vercel.app
